.search_form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.search_input {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 40px;
  list-style-type: none;
}
.btn_more {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.alfa {
  // position: fixed;
  background-color: green;
  height: 100vh;
}
