.slider_element {
  width: 50vw;
  height: 50vh;
  position: relative;
}
.slider_element_text {
  color: #ffffff;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & h3 {
    font-size: 25px;
    font-weight: bold;
  }
  & p {
    font-size: 20px;
  }
}

.carousell {
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
