.slider_element {
  width: 50vw;
  height: 50vh;
  position: relative;
}
.moovie_poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.slider_element_text {
  color: #ffffff;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & h3 {
    font-size: 2.5vw;
    font-weight: bold;
  }
  & p {
    margin-top: -10px;
    font-size: 2vw;
  }
}

.carousell {
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
