.registration_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: 20px;
  @media screen and (max-width: 360px) {
    min-width: 320px;
  }
}
// .sign_up_input {
//   min-width: 350px;
// }
